<section class='settings container'>
  <h1 class='text-center title mb-5'><i class="fas fa-cog"></i> Settings Page <i class="fas fa-cog"></i></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-signin' }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group " id='email'>
        <%= f.label :change_email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control', placeholder: 'email' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group" id='password'>
        <%= f.label :change_password %>
      <%= f.password_field :password, autocomplete: "new-password", class:'form-control', placeholder: 'Password' %>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'form-control', placeholder: 'Password confirmation' %>
       <i>leave blank if you don't want to change it</i>
    </div>

    <div class='form-group'>
        <%= f.label :add_description %>
        <%= f.text_area :description, autocomplete: "add description", class:'form-control', placeholder: 'Add new description'%>
       <i>leave it if you don't want to change it</i>
    </div>
    <div class='form-group'>
        <%= f.label :change_name %>
        <div class='row'>
          <%= f.text_field :first_name, autocomplete: "add description", class:'form-control col-sm-6', placeholder: 'Change first name'%>
          <%= f.text_field :last_name, autocomplete: 'change last_name', class:'form-control col-sm-6', placeholder: 'Change last name'%>
        </div>
       <i>leave it if you don't want to change it</i>
    </div>
    <div class='form-group'>
      <%= f.label :choose_city %><br>
        <%= f.select :city, City.all.collect { |p| [ p.name, p.id ] }, {:include_blank => true}, :class => 'form-control'%>
    </div>
    
    <div class='form-group'>
      <%= f.label :birthdate%>
      <%= f.date_field :birthdate, autocomplete: 'Add Birthdate', class:'form-control', placeholder: 'Add Birthdate'%>
       <i>leave it if you don't want to change it</i>

    </div>

    <div class="form-group" id='current_password'>
      <%= f.label :current_password %>
      <%= f.password_field :current_password, autocomplete: "current-password", class:'form-control', placeholder: 'Current Password' %>
    </div>

    <div class="actions">
      <%= f.submit "Update", class:'btn btn-lg btn-primary' %>
    </div>
  <% end %>

  <div class='cancel_account'>
    <h3>Cancel my account</h3>
    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?"}, method: :delete, class:'btn btn-primary'  %></p>
  </div>

</section>
