
<!-- FILTER OPTIONS -->
<div class="container-fluid bg-light pt-4">
<div class="text-center">
  <h2 class="mb-3 text-info">Find your new mate today! </h2>
  <p class="text-secondary">It's as easy as it looks ! Just select the field you are looking for and click search <i class="far fa-smile-beam"></i>.</p>
</div>
	<div class="row align-items-center justify-content-center">
      <div class="col-md-2 pt-3">
        <div class="form-group ">
          <select id="inputState " class="form-control">
            <option selected>Age</option>
            <option>Less than 25</option>
            <option>25-30</option>
            <option>30-35</option>
            <option>35-40</option>
            <option>40 +</option>
          </select>
        </div>
    </div>
    <div class="col-md-2 pt-3">
      <div class="form-group">
        <select id="inputState" class="form-control">
          <option selected>Gender</option>
          <option>Male</option>
          <option>Female</option>
        </select>
      </div>
    </div>
    <div class="col-md-2 pt-3">
      <div class="form-group">
        <select id="inputState" class="form-control">
          <option selected>Activities</option>
          <option>Video games</option>
          <option>Hiking</option>
          <option>Music</option>
          <option>Travel</option>
        </select>
      </div>
    </div>
    <div class="col-md-2 pt-3">
      <div class="form-group">
        <select id="inputState" class="form-control">
          <option selected>Location</option>
          <option>Paris</option>
          <option>Lyon</option>
          <option>Toulouse</option>
          <option>Montpellier</option>
          <option>Bordeaux</option>
        </select>
      </div>
    </div>
    <div class="col-md-2 buttonSearch">
      <button type="button" class="btn btn-info btn-block">Search</button>
    </div>
  </div>
</div>

<!-- ENNND FILTER OPTIONS -->

<!-- Card Profile -->
<div class="cardProfile">
  <div class="container-fluid mt-5 ml-2 mr-2 mb-5 justify-content-center">
   <div class="row justify-content-center">
     <!-- Match entries can have current_user in both user or matched_user column! -->
     <% @matches.each do |match| %>

     <% if current_user == match.user %>
        <% current_found_in_user_column = true %>
        <% current_found_in_matched_user_column = false %>
        <% results_user = match.matched_user %>
     <% elsif current_user == match.matched_user %>
        <% current_found_in_user_column = false %>
        <% current_found_in_matched_user_column = true %>
        <% results_user = match.user %>
     <% else %>
        <% puts "ERROR: current_user should be found in either match.user or match.matched_user !!!!" %>
     <% end%>

     <div class="card m-1 col-xl-3 col-sm-12 col-md-8 col-lg-5 shadow backgroundColorCard">
       <%= image_tag("avatar.jpg", class:'mt-4 img_profile') %>
       <div class="card-body">
         <h6 class="m-0 text-white text-center text-uppercase">
           <% if results_user.first_name && results_user.last_name%>
           <%= "#{results_user.first_name} #{results_user.last_name}" %>
           <% else %>
          No name yet
          <% end%>
           </h6>
          <h6 class="m-0 mt-2 text-white text-center"><i class="fas fa-map-marker-alt text-gray-300" id="iconLocation"></i>
           <% if results_user.city%>
            <%= results_user.city.name %>
          <%else %>
          No city yet
          <% end%>
           </h6>
          <hr>
          <div class="text-center">
            <h6 class="m-0 mb-2 text-white text-uppercase">Bio</h6>
          </div>
          <p class="text-white text-center">
            <% if results_user.description %>
            <%= results_user.description %>
            <% else %>
            No description yet
            <% end%>
          </p>
          <hr>
          <p class="text-dark text-center">
            Score: <%= (1/(match.score+0.2)).round(2) %>
          </p>
          <hr>
          <div class="text-center">
            <div class="">

            <% if match.status == 1 && current_found_in_user_column || match.status == 2 && current_found_in_matched_user_column %>
            <div class="btn btn-outline btn-sm text-uppercase mt-4 text-info">Request sent</div>
            <% elsif match.status == 2 && current_found_in_user_column || match.status == 1 && current_found_in_matched_user_column %>
            <div class="btn btn-outline btn-sm text-uppercase mt-4 text-warning">Request received</div>

            <% else %>
              <% if current_found_in_user_column %>
              <% new_status = 1 %>
              <% else %>
              <% new_status = 2 %>
              <% end%>
              <%= form_with model: match do |f| %>
              <%= f.hidden_field :user, :value => match.user.id %>
              <%= f.hidden_field :matched_user, :value => match.matched_user.id %>
              <%= f.hidden_field :status, :value => new_status %>
              <%= f.submit "Send match request" , class: "btn btn-outline btn-sm text-uppercase mt-4" %>
              <% end %>
            <% end %>

          </div>
            <%= link_to "See profile", user_path(results_user.id), class:"btn btn-outline btn-sm text-uppercase mt-4" %>
          </div>
        </div>
      </div>
    <% end %>

    <!-- End first card profile-->
    </div>
  </div>
</div>
<!-- END Card Profile -->
