
<!-- FILTER OPTIONS -->
<div class="container-fluid bg-light ">
	<div class="row align-items-center justify-content-center">
      <div class="col-md-2 pt-3">
        <div class="form-group ">
          <select id="inputState " class="form-control">
            <option selected>Age</option>
            <option>Less than 25</option>
            <option>25-30</option>
            <option>30-35</option>
            <option>35-40</option>
            <option>40 +</option>
          </select>
        </div>
    </div>
    <div class="col-md-2 pt-3">
      <div class="form-group">
        <select id="inputState" class="form-control">
          <option selected>Gender</option>
          <option>Male</option>
          <option>Female</option>
        </select>
      </div>
    </div>
    <div class="col-md-2 pt-3">
      <div class="form-group">
        <select id="inputState" class="form-control">
          <option selected>Activities</option>
          <option>Video games</option>
          <option>Hiking</option>
          <option>Music</option>
          <option>Travel</option>
        </select>
      </div>
    </div>
    <div class="col-md-2 pt-3">
      <div class="form-group">
        <select id="inputState" class="form-control">
          <option selected>Localisation</option>
          <option>Paris</option>
          <option>Lyon</option>
          <option>Toulouse</option>
          <option>Montpellier</option>
          <option>Bordeaux</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block">Search</button>
    </div>
  </div>
</div>

<!-- ENNND FILTER OPTIONS -->

<!-- Card Profile -->
<div class="cardProfile ">
  <div class="container mt-5">
   <div class="row ">
     <!-- First card Profile -->
   
      <div class="card col-xl-6 col-sm-12 col-md-6 col-lg-5 shadow m-2 backgroundColorTopOfcard">
        <%= image_tag("avatar.jpg", id:'imgProfile', class:'mt-4') %> 
        <div class="card-body">
          <h6 class="m-0 text-white text-center text-uppercase">Username</h6>
          <h6 class="m-0 mt-2 text-white text-center"><i class="fas fa-map-marker-alt text-gray-300" id="iconLocation"></i> Location</h6>
          <hr>
          <div class="text-center">
            <h6 class="m-0 mb-2 text-white text-uppercase">Bio</h6>
          </div>
          <p class="text-white text-center">
            The styling for this basic card example is created by using default Bootstrap utility classes. By using utility classes, the style of the card component can be easily modified with no need for any custom CSS!
          </p>
          <hr>
          <div class="text-center">
            <i class="far fa-heart fa-2x text-gray-300 mt-3"></i><br/>
            <%= link_to "See profile", root_path, class:"btn btn-outline btn-sm text-uppercase mt-4" %>
          </div>
        </div>
    </div>
      <!-- End first card profile-->
   <!-- First card Profile -->
   
      <div class="card col-xl-6 col-sm-12 col-md-6 col-lg-5 shadow m-2 backgroundColorTopOfcard">
        <%= image_tag("avatar.jpg", id:'imgProfile', class:'mt-4') %> 
        <div class="card-body">
          <h6 class="m-0 text-white text-center text-uppercase">Username</h6>
          <h6 class="m-0 mt-2 text-white text-center"><i class="fas fa-map-marker-alt text-gray-300" id="iconLocation"></i> Location</h6>
          <hr>
          <div class="text-center">
            <h6 class="m-0 mb-2 text-white text-uppercase">Bio</h6>
          </div>
          <p class="text-white text-center">
            The styling for this basic card example is created by using default Bootstrap utility classes. By using utility classes, the style of the card component can be easily modified with no need for any custom CSS!
          </p>
          <hr>
          <div class="text-center">
            <i class="far fa-heart fa-2x text-gray-300 mt-3"></i><br/>
            <%= link_to "See profile", root_path, class:"btn btn-outline btn-sm text-uppercase mt-4" %>
          </div>
        </div>
    </div>
      <!-- End first card profile-->
        
   <!-- First card Profile -->
   
      <div class="card col-xl-6 col-sm-12 col-md-6 col-lg-5 shadow m-2 backgroundColorTopOfcard">
        <%= image_tag("avatar.jpg", id:'imgProfile', class:'mt-4') %> 
        <div class="card-body">
          <h6 class="m-0 text-white text-center text-uppercase">Username</h6>
          <h6 class="m-0 mt-2 text-white text-center"><i class="fas fa-map-marker-alt text-gray-300" id="iconLocation"></i> Location</h6>
          <hr>
          <div class="text-center">
            <h6 class="m-0 mb-2 text-white text-uppercase">Bio</h6>
          </div>
          <p class="text-white text-center">
            The styling for this basic card example is created by using default Bootstrap utility classes. By using utility classes, the style of the card component can be easily modified with no need for any custom CSS!
          </p>
          <hr>
          <div class="text-center">
            <i class="far fa-heart fa-2x text-gray-300 mt-3"></i><br/>
            <%= link_to "See profile", root_path, class:"btn btn-outline btn-sm text-uppercase mt-4" %>
          </div>
          </div>
        </div>
    </div>
      <!-- End first card profile-->

    </div>
  </div>
</div>
<!-- END Card Profile -->
