<!-- Footer -->
	<section id="footer">
		<div class="container mt-5">
			<div class="row text-center justify-content-center text-sm-left text-md-left">
		<% unless user_signed_in? %>
      	<div class="col-sm-12 col-sm-4 col-md-3">
					<h5>My account</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="<%= new_user_registration_path %>"><i class="fa fa-angle-double-right"></i>Sign up</a></li>
						<li><a href="<%= new_user_session_path %>"><i class="fa fa-angle-double-right"></i>Sign in</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i>Help</a></li>
					</ul>
				</div>
		<% else %>
        
	      <div class="col-sm-12 col-sm-4 col-md-3">
					<h5>Menu</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="<%= root_path%>"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i>My profile</a></li>
						<li><a href="<%= matches_path%>"><i class="fa fa-angle-double-right"></i>Matching page</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i>Activities</a></li>
					</ul>
				</div>
		<% end %>

				<div class="col-sm-12 col-sm-4 col-md-3">
					<h5>The team</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="https://github.com/alafrance"><i class="fa fa-angle-double-right"></i>Alexis Lafrance</a></li>
						<li><a href="https://github.com/katehuen"><i class="fa fa-angle-double-right"></i>Antu Nehuen</a></li>
						<li><a href="https://github.com/tmedrado"><i class="fa fa-angle-double-right"></i>Tomaz Medrado</a></li>
						<li><a href="https://github.com/Virginie-lnr"><i class="fa fa-angle-double-right"></i>Virginie Lenoir</a></li>
						<li><a href="https://github.com/Valentinmf"><i class="fa fa-angle-double-right"></i>Valentin Figueiredo</a></li>
					</ul>
				</div>
				
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="https://github.com/findnewfriends/find-new-friends" target="_blank"><i class="fab fa-github"></i></a></li>
						<li class="list-inline-item"><a href="mailto:findnewfriends.thp@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>          
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
				    <br>
					<p class="h6"><a class="text-green ml-2" href="<%= root_path %>"><strong style="color:#4e73df;">FindNewFriends</strong></a><font color="#858796">© 2020 made for THP with ♥.</font></p><font color="#858796">
				</div>
      </div>
<!-- ./Footer -->