<!-- Image and text -->
<% if user_signed_in? %>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="<%= root_path%>">
    <img src="http://tinygraphs.com/spaceinvaders/FindNewFriends?theme=duskfalling&numcolors=4&size=220&fmt=svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Find New Friends
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav w-100">
      <li class="nav-item">
        <a class="nav-link" href="<%= matches_path%>">Find a Match</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">My Profile</a>
      </li>
      <li class="nav-item">
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class:"btn btn-outline-danger ml-1" %>
      </li>
    </ul>
  </div>
</nav>

<% else %>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="navbar-nav w-100">
    <li class="nav-item ml-auto">
      <%= link_to "Sign in", new_user_session_path, class:"nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Sign up", new_user_registration_path, class:"btn btn-outline-info " %>
    </li>
  </ul>
</nav>

<% end %>